* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, lab(69.3% -3.15 70.62), rgb(46, 46, 206));
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
    font-family: sans-serif;
}

.container {
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    color: white;
    box-shadow: 0px 3px 15px white;
    width: 350px;
}

h1 {
    font-size: 31px;
    margin-block: 8px;
}

.input {
    display: flex;
    flex-direction: column;
}

#inputbox {
    font-size: 20px;
    padding: 10px;
    margin-block: 10px;
    text-overflow: ellipsis;
}

.input {
    position: relative;
}

.input span {
    position: absolute;
    top: 30%;
    right: 3%;
    color: black;
    cursor: pointer;
    z-index: 2;
}

#inputslider {
    width: 306px;
}

.row p,
.row label {
    flex-basis: 100%;
}

.row {
    margin-block: 10px;
    font-size: 18px;
    display: flex;
}

.row input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

#gbtn {
    background-color: rgb(46, 96, 235);
    width: 320px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

#gbtn:hover {
    background-color: rgb(18, 50, 138);
}